html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: lightslategrey;
}
section {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    background-color: #f8fdff;
}
section>header>span {
    margin-left: 5px;
    padding-left: 10px;
    border-left: 3px solid lightskyblue;
}
section>main>form>table {
    width: 100%;
    margin: 10px auto;
}
section>main>table>tr>td:nth-child(2) {
    width: 240px;
}
.describe {
    width: 100px;
    height: 30px;
    /*border: 1px solid black;*/
    line-height: 30px;
    text-align: right;
    font-size: 14px;
}
.describe>p {
    margin: 0px;
}
.input {
    margin-left: 20px;
    height: 50px;
    width: 250px;
    height: 20px;
}
#yanzheng {
    width: 270px;
    height: 50px;
    padding-left: 20px;
}
.tele {
    padding-left: 20px;
    margin: 0px;
    font-size: 13px;
    line-height: 5px;
}
#nine>td {
    height: 80px;
}
#ten {
    display: flex;
    height: 30px;
    justify-content: space-between;
}
.btn {
    border: none;
    border-radius: 5px;
    background-color: #6cb74d;
    color: white;
    font-size: 13px;
}
#eleven>td:nth-child(2) {
    font-size: 13px;
}
#submit {
    width: 250px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 10px;
}
.hr {
    margin: 10px auto;
    width: calc( 100% - 10px);
    height: 1px;
    background-color: #939393;
}